apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-manager
  labels:
    app: task-manager
spec:
  replicas: 2
  selector:
    matchLabels:
      app: task-manager
  template:
    metadata:
      labels:
        app: task-manager
    spec:
      containers:
        - name: task-manager
          image: "aliayman225/task-manager:latest"
          ports:
            - containerPort: 5000
          env:
            - name: FLASK_ENV
              value: "production"
